# Игнорируем файлы окружения
.env

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем виртуальные окружения
venv/
env/

# Игнорируем IDE-специфичные файлы
.idea/
.vscode/

# Игнорируем логи и временные файлы
*.log
*.tmp
